BITRIX_WEBHOOK_URL=https://YOUR_PORTAL.bitrix24.ru/rest/USER_ID/CODE/
BITRIX_CATEGORY_ID=2
BITRIX_STAGE_IDS=C2:UC_VQSC1C,C2:UC_X3GNNS,C2:FINAL_INVOICE,C2:UC_YADE6K,C2:UC_SM5W4O,C2:UC_IPH4VF,C2:UC_GZ6RL3,C2:UC_YJ087T,C2:UC_2M4FYU,C2:UC_B2ZGR1,C2:UC_ILS0X3

UF_CASE_NUMBER=UF_CRM_1741881362933
UF_COURT_URLS=UF_CRM_1747812731315,UF_CRM_1742479380838,UF_CRM_1739466337400,UF_CRM_1773392832151,UF_CRM_1782973730098

UF_LAST_STATUS=UF_CRM_SAPRIN_LAST_STATUS
UF_LAST_CHECK_AT=UF_CRM_SAPRIN_LAST_CHECK
UF_SNAPSHOT_HASH=UF_CRM_SAPRIN_SNAP_HASH
UF_LAST_KNOWN_STAGE=UF_CRM_SAPRIN_KNOWN_STAGE
UF_COURT_WEBSITE=UF_CRM_SAPRIN_COURT_SITE
UF_DECISION_DATE=UF_CRM_SAPRIN_DECISION_DATE
UF_DECISION_PUBLISHED=UF_CRM_SAPRIN_DECISION_PUB
UF_DEADLINE_40D=UF_CRM_SAPRIN_DEADLINE_40D
UF_STAGE_ENTER=UF_CRM_SAPRIN_STAGE_ENTER
UF_APPEAL_RESULT=UF_CRM_SAPRIN_APPEAL_RESULT

COURT_KB_API_URL=http://127.0.0.1:8081
COURT_KB_API_KEY=

DRY_RUN=1
APPLY_STAGE_MOVES=1
COMMENT_ONLY_ON_CHANGE=1
PAUSE_BETWEEN_DEALS_SEC=5
LIMIT_DEALS=0
TZ=Europe/Moscow
