[Unit]
Description=Saprin weekly timer Mon 08:00 MSK

[Timer]
OnCalendar=Mon *-*-* 08:00:00
Persistent=true
Unit=saprin-job-weekly.service

[Install]
WantedBy=timers.target
