[Unit]
Description=БитриксЮрист каждый день в 08:00 МСК

[Timer]
OnCalendar=*-*-* 08:00:00
Persistent=true
Unit=bitrix-yurist.service

[Install]
WantedBy=timers.target
